




body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    }
    
    .container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
    text-align: center;
    margin-bottom: 20px;
    }
    
    input[type="text"],
    input[type="email"]
    {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    
    button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    }
    
    button:hover {
    background-color: #0056b3;
    }
    
    #bookList {
    margin-top: 20px;
    }
    


.book-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}



#cart  {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

#cartList  div {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

#cartList div:last-child {
    border-bottom: none;
}

#totalPrice {
    font-weight: bold;
}

/* -------------- */

/* #recommendationList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#recommendationList div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    #recommendationList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #recommendationList {
        grid-template-columns: 1fr;
    }
} */

/* #recItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

#recItems div {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

@media (max-width: 768px) {
    #recItems {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #recItems {
        grid-template-columns: 1fr;
    }
}
 */
